<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Задание на пагинацию</title>
        <link rel="stylesheet" href="style/main.css">
    </head>
    <body>
        <div id="root">
            <div class="image-card">
                <div class="img-load-block">
                    <img alt="picture" src="img/empty.png" id="image"/>
                    <button id="sel-img">Выбрать</button>
                </div>
    
                <div class="image-discript-block">
                    <input type="text" id="img-title"  class="img-info" placeholder="Название файла"/>
                    <input type="text" id="img-discription" class="img-info" placeholder="Описание файла"/>
                    <input type="text" id="img-tags" class="img-info" placeholder="Тэги"/>
                    <span>Размер файла: <span id="img-size-info" class="serv-info">неизвестно</span><br/></span>
                    <span>Расширение файла: <span id="img-extension-info" class="serv-info">неизвестно</span></span>
                    <button id="send-file">Отправить файл</button>
                </div>
            </div>
            <div class="server-response-block">
                <span>Статус ответа от сервера: <span id="response-status" class="serv-info">неизвестно</span></span>
                <span>Сообщение от сервера: <span id="response-message" class="serv-info">неизвестно</span></span>
                <span>Отправлено чанков: <span id="chank-count" class="serv-info">0/0</span><br/></span>
            </div>

        </div>
        <script src="scripts/main.js"></script>
    </body>
</html>